body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
  background-image:url("https://wallpaper-gallery.net/images/creepy-woods-wallpaper/creepy-woods-wallpaper-4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  z-index:-1;
  font-family: 'Creepster', cursive;
}
body, a:link, a:visited, a:active{
  color:#ffff00;
}
a {
  text-decoration: none;
}
a:hover {
  transform: scale(1.2);
}
.title, .addDancerButton, .makeLineButton{
  padding:5px 12px;
  float:right;
}

/*.addDancerButton, .makeLineButton {
  padding: 15px 12px;
  float:left;
}
*/

.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
/*.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}*/
.zombie{
  /*border:10px solid red;*/
  /*border-radius:10px;*/
  height: 150px;
  position:absolute;
  transition: transform .5s ease-in-out;
}
.vamp{
  /*border:10px solid red;*/
  height: 60px;
  position:absolute;
  transition: transform .2s ease-in-out;
}
.blinky{
  /*border:10px solid red;*/
  height: 100px;
  position:absolute;
}

img{
  max-height: 100%;
}

.vamp:hover {
  transform: scale(2);
}

.zombie:hover {
  /*transform: rotate(360deg);*/
  transform: translateY(-50px) rotate(360deg);
}