body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
  background-image:url("https://wallpaper-gallery.net/images/creepy-woods-wallpaper/creepy-woods-wallpaper-4.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
/*.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}*/
.zombie{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.vamp{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.blinky{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}